footer
	div.layout
		hr
		h5 
			| Source Cream. &copy 
			a(href="https://github.com/prBigBrother/source-cream") prBigBrother

script(src="//code.jquery.com/jquery-2.1.1.min.js")
script window.jQuery || document.write(unescape("%3Cscript src='js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
script(src="js/vendor.min.js")
script(src="js/scripts.min.js")