doctype
head
	meta(charset="utf-8")
	title Source Cream Blank Page
	link(href="css/style.css", rel="stylesheet", type="text/css")
	script(src="//code.jquery.com/jquery-2.1.1.min.js")
	script window.jQuery || document.write(unescape("%3Cscript src='js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	script(src="js/vendor.min.js")
	script(src="js/scripts.min.js")
